name: Java CI with Maven in Linux

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - java: 8
          - java: 17
            additional-maven-args: >
              -Pjacoco,mutation-testing coveralls:report
              org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
              -Dsonar.projectKey=mfflnz_apt-subscriptions

    name: Build with Java ${{ matrix.java }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Fetch di tutta la history
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: |
          ~/.m2
          ~/.sonar/cache
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build with Maven
      run: >
        xvfb-run -a --server-args="-screen 0 1366x768x24"
		mvn clean verify
		${{ matrix.additional-maven-args }}
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}