name: Java CI with Maven in macOS

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: macos-15-intel
    strategy:
      matrix:
        include:
          - java: 11
          - java: 17

    name: Build with Java ${{ matrix.java }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
    # https://github.com/marketplace/actions/setup-docker-on-macos
    - name: Setup Docker
      id: setup-docker
      uses: douglascamata/setup-docker-macos-action@v1.0.1
      with:
        lima: v1.2.1
        colima: v0.9.1
        colima-network-address: false
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build with Maven
      run: mvn clean verify