name: Java CI with Maven in macOS

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15-intel
    strategy:
      matrix:
        include:
          - java: 11
          - java: 17
    # https://github.com/fabric8io/docker-maven-plugin/issues/1584#issuecomment-1199262997      
    env:
      DOCKER_HOST: unix:///Users/runner/.colima/default/docker.sock
                
    name: Build with Java ${{ matrix.java }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'temurin'
      # https://github.com/marketplace/actions/setup-docker-on-macos
    - name: Setup Docker on macOS
      uses: douglascamata/setup-docker-macos-action@v1.0.2
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build with Maven
      run: mvn clean verify
